__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.spec
venv/
.venv/
*.exe
*.dll
*.pdb
.vs/
.idea/
.vscode/
*.suo
*.user
scripts/*
!scripts/.gitkeep
settings.ini
state.json
assets/img/app_icon.ico
